{% extends 'base.html' %}
{% block content %}


<h1>Products</h1>
<div class="row">

    {% for product in products %}
    <div class="col-6 col-md-3 d-flex">
        <div class="card h-100 d-flex flex-column">
            <img src="{{ product.image_url }}" class="card-img-top img-fluid" alt="..."
                 style="height:300px; object-fit:cover;">
            <div class="card-body ">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Ksh{{ product.price }}</p>
                <div class="card-footer bg-white border-0">
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}