{% extends "base.html" %}
{% load static %}

{% block title %}Products - JUKA{% endblock %}

{% block content %}
<h1>Products</h1>

<div class="container">
    <div class="row g-3">
        {% for advert in adverts %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="{% url 'product_detail' advert.id %}" class="text-decoration-none text-dark">
                <div class="card product-card h-100">
                    <img src="{{ advert.image.url }}" alt="{{ advert.title }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ advert.title }}</h5>
                        <p class="card-price text-danger">Ksh {{ advert.price }}</p>
                    </div>
                    <div class="card-footer bg-white d-flex justify-content-between">
                        {% if user.is_authenticated %}
                        <div class="d-flex gap-2">

                            <!-- SAVE / HEART -->
                            <a href="{% url 'save_item' advert.id %}"
                               class="action-btn">
                                <i class="fas fa-heart text-danger"></i>
                            </a>

                            <!-- MAKE OFFER -->
                            <a href="{% url 'conversation' advert.seller.id advert.id %}"
                               class="action-btn d-flex align-items-center">
                                <i class="fas fa-envelope text-primary"></i>
                            </a>

                        </div>
                        {% else %}
                        <div class="d-flex gap-2">
                            <a href="{% url 'account_login' %}"
                                class="action-btn">
                                    <i class="fas fa-envelope text-primary"></i>
                            </a>

                            <a href="{% url 'account_login' %}"
                               class="action-btn">
                                <i class="fas fa-heart text-danger"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No products found in this category.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
